.alertBoxStyle {
    background-color: rgba(255, 165, 0, 0.3);
    padding: 1rem;
    border-radius: 4px;
    margin-top: 1rem;
  }
  
  .resultBoxStyle {
    background-color: rgba(144, 238, 144, 0.3); /* for significant results */
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  .resultBoxStyle.not-significant {
    background-color: rgba(240, 128, 128, 0.3); /* for non-significant results */
  }
  