.resultBoxStyle {
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.not-significant {
  background-color: rgba(240, 128, 128, 0.3) !important; /* for non-significant results */
}

.significant {
  background-color: rgba(144, 238, 144, 0.3) !important; /* for significant results */
}
